.search-box-container{
    height: calc(100vh - 106px);
    width: 100%;
}

.search-box{
    width: 85%;
    height: 85%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.search-box-content{
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;
    position: relative;
    
}

.search-box-content input{
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 45px;
    padding:10px 28px;
    font-size: 16px;
    outline: none;
    background-color: #f0f0f0;
    transition: all 0.3s;
    cursor: pointer;
}
.search-box-content input:focus{
    background-color: #e0e0e0;
    border: 1px solid #e0e0e0;

}
.search-box-content input::placeholder{
    font-size: 14px;
}

.search-box-content button{
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 0 50% 50% 0;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s;
    position: absolute;
    right: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    z-index: 10;
    background-color: #333;
    color: white;
}

.search-box-content .search-button:active{
    transform: scale(0.4);

}

.tag-question{
    font-size: 12px;
    color: #333;
    margin-top: -16px;
    cursor: pointer;
}

.popSearchBar{
    position: absolute;
    top: 0;
    z-index: 100;
}


/********************************/
/*      Responsive css          */
/********************************/

@media (max-width:750px) {
    .search-box-content{
    width: 100%;
    }
    .search-box-content input{
        padding: 8px 20px;
    }
    .search-box{
        width: 90%;
        height: 90%;
    }
    .search-box-content button{
        width: 56px;
        height: 56px;
        right: 0;
    }
    .search-box-container{
        height: 100vh;
    }
  }