body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    overflow-x: hidden;
}

a{
    text-decoration: none;
    color: black;
    display: flex;
}

li{
    list-style: none;
}